doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Node Hello world example
  body
    h1 Google Login
    form(action='http://localhost:3000/auth/google')
      input(type='submit', value='Log In')
