.TodoForm {
    color: blue;
}

form {
 
  position: relative;
  width: 400px;
  height: 75px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
}